node_modules/
env/
__pycache__/
__init__.py
venv/
Week7/.env
Week-6/src/env/
Week-7/venv
Week-8/src/venv
Week-8/src/quantized/model-fp16
Week-8/src/quantized/model-int4
Week-8/src/quantized/model-int8
Week-8/src/quantized/model-fp16.gguf
Week-8/src/quantized/model_q8_0.gguf
Week9/.env
settings.py
Week9/Day3/workspace/
nexus_workspace/
logs/
.env
