/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* ---------------- HEADER ---------------- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  z-index: 1000;
}

.navbar nav a {
  margin: 12px;
  color: rgba(245, 135, 221, 0.712);
  text-decoration: none;
}

/* ---------------- FOOTER ---------------- */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #1d1c1c;
  color: rgba(245, 135, 221, 0.712);
  text-align: center;
  line-height: 50px;
  z-index: 1000;
}

/* ---------------- MAIN CONTENT ---------------- */
.main-content {
  padding-top: 70px;   /* space for fixed header */
  padding-bottom: 50px; /* space for fixed footer */
  min-height: 100vh;
}

#searchBox{
  background: #111;
  border-radius: 5px;
  padding: 10px;
  border:none;
  box-shadow: 0 0 10px 2px rgba(245, 135, 221, 0.712);
}

.logo{
  font-size: 30px;
  font-weight: bolder;
  color:rgba(245, 135, 221, 0.712);
}
