.hero {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../Images/5.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 80px;
  height: 400px;
}

.hero button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 18px;
  color: rgba(245, 135, 221, 0.712) ;
  background-color:black;
  border-radius: 5px;
  border: none;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 30px;
  background-color: rgba(102, 1, 80, 0.774);
}

.card {
  height: 300px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  color:#000000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  z-index: 1;
}

/* SPECIFIC BACKGROUNDS */
.card.Sale {
  background-image: url("../Images/3.jpg");
}

.card.Toprated {
  background-image: url("../Images/2.jpg");
}

.card.New {
  background-image: url("../Images/4.jpg");
}


.contact {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:20px;
  color:rgb(102, 1, 80);
  padding: 40px;
  background: rgb(10, 8, 8);
}

.contactinput{
  border-radius: 5px;
  padding: 10px;
  color:black;
  background-color: rgba(245, 135, 221, 0.712) ;
}

.contactinput::placeholder{
  color:black;
}