/* Reset */
html,body{
    height:100%;
}

body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.top-bar {
    background-image: url("images/1.jpg");
    background-size:cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Garamond, serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(216, 11, 11);
    padding: 20px;
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.menu {
    flex: 3;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero */
.hero {
    display: grid;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 80px 20px;
}

.hero video{
    position: absolute;
    top: 10%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.hero button {
    align-self: center;
    justify-self: center;
    width: 200px;
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 15px;
    background: #111827;
    color: white;
    cursor: pointer;
}

/* Main Content */
.content {
    flex: 1;
    background-image: url("images/1.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Products Grid */
.products {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  grid-auto-flow: column;
  grid-auto-columns: 250px;
  padding-top:30px;
  padding-bottom: 30px;
  gap: 20px;

  overflow-x: auto;
}

.products::-webkit-scrollbar {
  display: none;                
}

.product {
    background-color: #000000a6;
    color: white;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    background-size: cover;
    background-position: center;
    border-radius: 10px;

    scroll-snap-align: start;
}

/* Side Section */
.side {
    display: grid;
    background-color:#0f2449cc;
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
}

.image-box {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    background: #c7ecee;
    padding: 40px;
}

.extra-box {
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    background: #34d399;
}

.extra-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    background: #345ed3;
    padding: 40px;
}

/* Banner */
.banner {
    background: #a016e0;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

/* Responsive Design */

@media (max-width: 600px) {
  .top-bar {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .products {
    grid-template-columns: repeat(3, 150px);
  }
}
