* {
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

#navMenu {
  display: none;
}

#navMenu.open {
  display: block;
}



body {
    min-height: 100vh;
    margin: 0;
    background-color: #e6f2ff;
    display: flex;
    flex-direction: column;

}

.page-content{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color:#142b42;
    height: 50px;
}



.faq-container {
    width: 100%;
    max-width: 700px;
    background: #1f2933;
    border-radius: 12px;
    overflow: hidden;
}

.faq-container h2 {
    color: rgb(250, 247, 247); 
    padding: 20px;
    text-align: center;
}

.faq-item {
    border-top: 1px solid #334155;
}

.faq-question {
    width: 100%;
    font-weight: bold;
    background: #142b42;
    color: rgb(241, 246, 248);
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    border: none;
    justify-content: space-between;
}

.faq-question:hover {
    background: #273549;
}

.faq-answer {
    max-height: 0;
    background: rgb(179, 209, 223);
    overflow:hidden;
    color: #333;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    padding: 10px;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}

.icon {
    transition: transform 0.5s ease;
}

.faq-item.active .icon {
    transform:rotate(90deg);
}
